style.
  /*
  .calugas_two_caluga_grandeM {
    display: none;
  }
  .calugas_two_dobleM {
    display: none;
  }

  .contenido_calugas .section .title {
    font-weight: 300;
  }
  */
  .calugas__container {
    display: flex;
    gap: 10px;
  }
  .caluga img {
    display: block;
  }
  .caluga {
    margin-bottom: 40px;
  }
  .caluga--1 {
    width: 25%;
  }
  .caluga--2 {
    width: 50%;
  }
  .caluga--2-5 {
    width: calc(75% / 2);
  }
  .caluga--3 {
    width: 75%;
  }

  @media only screen and (max-width: 700px) {
    /*
    .calugas_two_caluga_grande {
      display: none;
    }
    .calugas_two_caluga_grandeM {
      display: block;
      margin-bottom: 35px;
    }
    .calugas_two_doble {
      display: none;
    }
    .calugas_two_dobleM {
      display: block;
      margin-bottom: 35px;
    }
    .caluga {
      float: none;
      display: block;
      width: 100%;
      margin-bottom: 30px;
    }
    */
    .calugas__container {
      flex-wrap: wrap;
      gap: none;
    }
    .caluga {
      width: 100%;
      margin-bottom: 30px;
    }
  }

mixin caluga(item)
  div&attributes(attributes).caluga
    a(href!=`@STAGE_URL@${item.url}` value=item.slug)
      .item(
        style="border: 1px solid #ddd; border-bottom: none;"
      )
        if !item.hold
          picture
            if item.mobile
              source(
                @SRCSET@=`@MEDIA_PATH@/Caluga@HOME_DATE@--${item.id }@FILE_TYPE@`
                media="(min-width: 642px)"
              )
              source(
                @SRCSET@=`@MEDIA_PATH@/Caluga@HOME_DATE@--${item.id }M@FILE_TYPE@`

              )
            img(
              @SRC@=`@MEDIA_PATH@/Caluga@HOME_DATE@--${item.id }@FILE_TYPE@`
              alt=item.slug
              title=item.slug
            )
        if item.hold
          picture
            if item.mobile
              source(
                @SRCSET@=`${item.hold.image}`
                media="(min-width: 642px)"
              )
              source(
                @SRCSET@=`${item.hold.imageM}`

              )
            img(
              @SRC@=`${item.hold.image}`
              alt=item.slug
              title=item.slug
            )

mixin huincha(item, mobile = true)
  a(href!=`@STAGE_URL@${item.url}`)&attributes(attributes)
    .item(
      style="border: 1px solid #ddd; border-bottom: none;"
    )
    picture
      - if (mobile) {
        source(
          @SRCSET@=`@MEDIA_PATH@/Huincha@HOME_DATE@--${item.id }@FILE_TYPE@`
          media="(min-width: 642px)"
        )
        source(
          @SRCSET@=`@MEDIA_PATH@/Huincha@HOME_DATE@--${item.id }M@FILE_TYPE@`

        )
      - }
      img(
        @SRC@=`@MEDIA_PATH@/Huincha@HOME_DATE@--${item.id }@FILE_TYPE@`
        alt=item.slug
        title=item.slug
      )








.contenido_calugas

  // HUINCHA 1
  //- .huincha_seguimiento(style="width: 99%; margin: 20px auto; display: inline-block")
  //-   a(
  //-     href="//www.easy.cl/es/cl/easy-chile/tu-dispensador-termos"
  //-     target="_blank"
  //-     value="paga-tu-tarjeta"
  //-   )
  //-     picture
  //-       source(
  //-         srcset="//media.easy.cl/is/image/EasySA/Huincha-Thermos"
  //-         width="100%"
  //-         media="(min-width: 642px)"
  //-       )
  //-       source(
  //-         srcset="//media.easy.cl/is/image/EasySA/Huincha-ThermosM"
  //-         width="100%"
  //-       )
  //-       img(
  //-         src="//media.easy.cl/is/image/EasySA/Huincha-Thermos"
  //-         width="100%"
  //-       )


  // FILA CALUGAS 1
  .section
    .calugas__container

      +caluga({
        id: 1,
        slug: 'escritorios-sillas-gamer',
        url: '/tienda/categoria/escritorios-sillas-gamer',
      }).caluga--1

      +caluga({
        id: 2,
        slug: 'lavado-planchado-electrohogar',
        url: '/tienda/categoria/lavado-planchado-electrohogar',
      }).caluga--1

      +caluga({
        id: 3,
        slug: 'cajas-organizadoras',
        url: '/tienda/categoria/cajas-organizadoras--',
      }).caluga--1

      +caluga({
        id: 4,
        slug: 'seguridad-para-el-hogar',
        url: '/tienda/categoria/seguridad-para-el-hogar',
      }).caluga--1







  // HUINCHA 2
  <div class="huincha_seguimiento" style="width: 99%; margin: 20px auto; display: inline-block">
    <a href="@STAGE_URL@/es/cl/easy-chile/legal-doble-puntos" value="paga-tu-tarjeta" target="_blank">
      <picture>
        <source srcset="//media.easy.cl/is/image/EasySA/HuinchaPuntos_08112020-02" width="100%" media="(min-width: 642px)"/>
        <source srcset="//media.easy.cl/is/image/EasySA/HuinchaPuntos_08112020M-02" width="100%" />
        <img src="//media.easy.cl/is/image/EasySA/HuinchaPuntos_08112020-02" width="100%" alt="" title="" />
      </picture>
    </a>
  </div>





  .section


    //- .title
    //-   h2 Especial Calefacción








    .title
      h2 Renueva tus espacios




    // FILA CALUGAS 2
    .calugas__container
      +caluga({
        id: 5,
        mobile: true,
        slug: 'especial-living-futones-sofas',
        url: '/tienda/categoria/especial-living-futones-sofas',
      }).caluga--3
      +caluga({
        id: 6,
        mobile: false,
        slug: 'fitness',
        url: '/tienda/categoria/fitness',
      }, false).caluga--1






    // FILA CALUGAS 3
    .calugas__container
      +caluga({
        id: 7,
        slug: 'calefont-y-termos-electrohogar',
        url: '/tienda/categoria/calefont-y-termos-electrohogar',
      }, false).caluga--2-5
      +caluga({
        id: 8,
        slug: 'especial-living-cuadros-espejos',
        url: '/tienda/categoria/especial-living-cuadros-espejos',
      }, false).caluga--2-5
      +caluga({
        id: 9,
        slug: 'puertas-de-interior',
        url: '/tienda/categoria/puertas-de-interior',
      }, false).caluga--1





      

  // HUINCHA 3
  .section
    .calugas__container 
      .caluga.caluga--2
        a(class="calugas-categoria-superior"
          target="_blank"
          value="super-Avance-cencosud"
          href="@STAGE_URL@/es/cl/easy-chile/pide-tu-super-avance-tarjeta-cencosud-scotiabank"
          )
          .item
            picture
              source(media="(min-width: 642px)" srcset="//media.easy.cl/is/image/EasySA/SAE_DESKTOP")
              source(srcset="//media.easy.cl/is/image/EasySA/SAE_mobilehome")
              img(
                src="//media.easy.cl/is/image/EasySA/SAE_DESKTOP"
                alt="super-Avance-cencosud"
                title="super-Avance-cencosud"
                )
      .caluga.caluga--2
        a(class="calugas-categoria-superior"
          target="_blank"
          value="paga-tu-tarjeta"
          href="https://www.mitarjetacencosud.cl/TarjetaMasWEB/iniPagoPublico.do?utm_source=easy_cl&utm_medium=Banner&utm_content=HOME&utm_campaign=Pago+Facil"
          )
          .item
            picture
              source(media="(min-width: 642px)" srcset="//media.easy.cl/is/image/EasySA/Paga-tarjeta")
              source(srcset="//media.easy.cl/is/image/EasySA/Paga-tarjetaM")
              img(
                src="//media.easy.cl/is/image/EasySA/Paga-tarjeta"
                alt="paga-tu-tarjeta"
                title="paga-tu-tarjeta"
                )






  .section
    .title
      h2 Destacados





    // FILA CALUGAS 4
    .calugas__container
      +caluga({
        id: 10,
        slug: 'generador-solar-1500w-solbox-1500-plus-cleanlight',
        url: '/tienda/producto/generador-solar-1500w-solbox-1500-plus-cleanlight-1301215p',
      }, false).caluga--1
      +caluga({
        id: 11,
        slug: 'audio-electrohogar',
        url: '/tienda/categoria/audio-electrohogar',
      }, false).caluga--1
      +caluga({
        id: 12,
        slug: 'alimento-perro-adulto-15-kg-mediano-grande-mix-carnes-champ',
        url: '/tienda/producto/alimento-perro-adulto-15-kg-mediano-grande-mix-carnes-champ-1314500p',
      }, false).caluga--1
      +caluga({
        id: 13,
        slug: 'despensa-unix-blanco-home-mobili',
        url: '/tienda/producto/despensa-unix-blanco-home-mobili-1230026p',
      }, false).caluga--1







    // FILA CALUGAS 5
    .calugas__container
      +caluga({
        id: 14,
        mobile: true,
        slug: 'tubos-y-ampolletas',
        url: '/tienda/categoria/tubos-y-ampolletas',
      }).caluga--2
      +caluga({
        id: 15,
        mobile: true,
        slug: 'sika',
        url: '/tienda/categoria/ofertas-terminaciones-construccion?fltr_brand.keyword=SIKA',
      }).caluga--2
