style.
  /*
  .calugas_two_caluga_grandeM {
    display: none;
  }
  .calugas_two_dobleM {
    display: none;
  }

  .contenido_calugas .section .title {
    font-weight: 300;
  }
  */
  .calugas__container {
    display: flex;
    gap: 10px;
  }
  .caluga img {
    display: block;
  }
  .caluga {
    margin-bottom: 40px;
  }
  .caluga--1 {
    width: 25%;
  }
  .caluga--2 {
    width: 50%;
  }
  .caluga--2-5 {
    width: calc(75% / 2);
  }
  .caluga--3 {
    width: 75%;
  }

  @media only screen and (max-width: 700px) {
    /*
    .calugas_two_caluga_grande {
      display: none;
    }
    .calugas_two_caluga_grandeM {
      display: block;
      margin-bottom: 35px;
    }
    .calugas_two_doble {
      display: none;
    }
    .calugas_two_dobleM {
      display: block;
      margin-bottom: 35px;
    }
    .caluga {
      float: none;
      display: block;
      width: 100%;
      margin-bottom: 30px;
    }
    */
    .calugas__container {
      flex-wrap: wrap;
      gap: none;
    }
    .caluga {
      width: 100%;
      margin-bottom: 30px;
    }
  }

mixin caluga(item)
  div&attributes(attributes).caluga
    a(href!=item.url value=item.slug)
      .item(
        style="border: 1px solid #ddd; border-bottom: none;"
      )
        if !item.hold
          picture
            if item.mobile
              source(
                @SRCSET@=`@MEDIA_PATH@/Caluga@HOME_DATE@--${item.id }@FILE_TYPE@`
                media="(min-width: 642px)"
              )
              source(
                @SRCSET@=`@MEDIA_PATH@/Caluga@HOME_DATE@--${item.id }M@FILE_TYPE@`

              )
            img(
              @SRC@=`@MEDIA_PATH@/Caluga@HOME_DATE@--${item.id }@FILE_TYPE@`
              alt=item.slug
              title=item.slug
            )
        if item.hold
          picture
            if item.mobile
              source(
                @SRCSET@=`${item.hold.image}`
                media="(min-width: 642px)"
              )
              source(
                @SRCSET@=`${item.hold.imageM}`

              )
            img(
              @SRC@=`${item.hold.image}`
              alt=item.slug
              title=item.slug
            )

mixin huincha(item, mobile = true)
  a(href!=item.url)&attributes(attributes)
    .item(
      style="border: 1px solid #ddd; border-bottom: none;"
    )
    picture
      - if (mobile) {
        source(
          @SRCSET@=`@MEDIA_PATH@/Huincha@HOME_DATE@--${item.id }@FILE_TYPE@`
          media="(min-width: 642px)"
        )
        source(
          @SRCSET@=`@MEDIA_PATH@/Huincha@HOME_DATE@--${item.id }M@FILE_TYPE@`

        )
      - }
      img(
        @SRC@=`@MEDIA_PATH@/Huincha@HOME_DATE@--${item.id }@FILE_TYPE@`
        alt=item.slug
        title=item.slug
      )








.contenido_calugas

  // HUINCHA 1
  .huincha_seguimiento(style="width: 99%; margin: 20px auto; display: inline-block")
    a(
      href="//www.easy.cl/es/cl/easy-chile/tu-dispensador-termos"
      target="_blank"
      value="paga-tu-tarjeta"
    )
      picture
        source(
          srcset="//media.easy.cl/is/image/EasySA/Huincha-Thermos"
          width="100%"
          media="(min-width: 642px)"
        )
        source(
          srcset="//media.easy.cl/is/image/EasySA/Huincha-ThermosM"
          width="100%"
        )
        img(
          src="//media.easy.cl/is/image/EasySA/Huincha-Thermos"
          width="100%"
        )


  // FILA CALUGAS 1
  .section
    .calugas__container

      +caluga({
        id: 1,
        slug: 'calefaccion',
        url: '/tienda/categoria/calefaccion-electrohogar',
      }).caluga--1

      +caluga({
        id: 2,
        slug: 'muebles-oficina',
        url: '/tienda/categoria/muebles-de-oficina?cur_page=1&cur_view=grid&bc_links=muebles&bc_names=Muebles',
      }).caluga--1

      +caluga({
        id: 3,
        slug: 'puertas-interior',
        url: '/tienda/categoria/puertas-de-interior',
      }).caluga--1

      +caluga({
        id: 4,
        slug: 'casas-perro',
        url: '/tienda/categoria/mascotas-perros-accesorios-casas',
      }).caluga--1

  // HUINCHA 2
  <div class="huincha_seguimiento" style="width: 99%; margin: 20px auto; display: inline-block">
    <a href="/es/cl/easy-chile/legal-doble-puntos" value="paga-tu-tarjeta" target="_blank">
      <picture>
        <source srcset="//media.easy.cl/is/image/EasySA/HuinchaPuntos_08112020-02" width="100%" media="(min-width: 642px)"/>
        <source srcset="//media.easy.cl/is/image/EasySA/HuinchaPuntos_08112020M-02" width="100%" />
        <img src="//media.easy.cl/is/image/EasySA/HuinchaPuntos_08112020-02" width="100%" alt="" title="" />
      </picture>
    </a>
  </div>

  .section
    .title
      h2 Renueva tus espacios

    // FILA CALUGAS 2
    .calugas__container
      +caluga({
        id: 5,
        mobile: true,
        slug: 'futones',
        url: '/tienda/categoria/futones-5'
      }).caluga--3
      +caluga({
        id: 6,
        mobile: false,
        slug: 'muebles-cocina',
        url: '/tienda/categoria/mueble-cocina'
      }, false).caluga--1

    // FILA CALUGAS 3
    .calugas__container
      +caluga({
        id: 7,
        slug: 'baterias-cocina',
        url: '/tienda/categoria/baterias-cocina'
      }, false).caluga--2-5
      +caluga({
        id: 8,
        slug: 'electrodomesticos',
        url: '/tienda/categoria/electrodomesticos-electrohogar?fltr_brand.keyword=Nex&cur_page=1&cur_view=grid&bc_links=Electrohogar-climatizacion&bc_names=Electrohogar+y+Climatizaci%C3%B3n&cur_pos=',
      }, false).caluga--2-5
      +caluga({
        id: 9,
        slug: 'iluminacion-interior',
        url: '/tienda/categoria/iluminacion-de-interior'
      }, false).caluga--1

  // HUINCHA 3
  .section
    .calugas__container 
      .caluga.caluga--2
        a(class="calugas-categoria-superior"
          target="_blank"
          value="super-Avance-cencosud"
          href="/es/cl/easy-chile/pide-tu-super-avance-tarjeta-cencosud-scotiabank"
          )
          .item
            picture
              source(media="(min-width: 642px)" srcset="//media.easy.cl/is/image/EasySA/SAE_DESKTOP")
              source(srcset="//media.easy.cl/is/image/EasySA/SAE_mobilehome")
              img(
                src="//media.easy.cl/is/image/EasySA/SAE_DESKTOP"
                alt="super-Avance-cencosud"
                title="super-Avance-cencosud"
                )
      .caluga.caluga--2
        a(class="calugas-categoria-superior"
          target="_blank"
          value="paga-tu-tarjeta"
          href="https://www.mitarjetacencosud.cl/TarjetaMasWEB/iniPagoPublico.do?utm_source=easy_cl&utm_medium=Banner&utm_content=HOME&utm_campaign=Pago+Facil"
          )
          .item
            picture
              source(media="(min-width: 642px)" srcset="//media.easy.cl/is/image/EasySA/Paga-tarjeta")
              source(srcset="//media.easy.cl/is/image/EasySA/Paga-tarjetaM")
              img(
                src="//media.easy.cl/is/image/EasySA/Paga-tarjeta"
                alt="paga-tu-tarjeta"
                title="paga-tu-tarjeta"
                )

  .section
    .title
      h2 Destacados

    // FILA CALUGAS 4
    .calugas__container
      +caluga({
        id: 10,
        slug: 'silla-colgante',
        url: '/tienda/producto/silla-colgante-l-chocolate-el-barco-1247327p'
      }, false).caluga--1
      +caluga({
        id: 11,
        slug: 'porcelanato',
        url: '/tienda/producto/porcelanato-60-x-60-cm-sal-sol-palazzo-trav-1-44m2-1130699p'
      }, false).caluga--1
      +caluga({
        id: 12,
        slug: 'refrigerador',
        url: '/tienda/producto/side-by-side-no-frost-527-litros-mrsbs-5300-inox-midea-1197837p'
      }, false).caluga--1
      +caluga({
        id: 13,
        slug: 'sierra-circular',
        url: '/tienda/producto/sierra-circular-1400-w-cs1004-b2c-black-decker-1174383p'
      }, false).caluga--1

    // FILA CALUGAS 5
    .calugas__container
      +caluga({
        id: 14,
        mobile: true,
        slug: 'alargadores-extensiones',
        url: '/tienda/categoria/extensiones-y-alargadores'
      }).caluga--2
      +caluga({
        id: 15,
        mobile: true,
        slug: 'parrillas-gas',
        url: '/tienda/categoria/parrillas-a-gas-'
      }).caluga--2
