style.
  /*
  .calugas_two_caluga_grandeM {
    display: none;
  }
  .calugas_two_dobleM {
    display: none;
  }

  .contenido_calugas .section .title {
    font-weight: 300;
  }
  */
  .calugas__container {
    display: flex;
    gap: 10px;
  }
  .caluga img {
    display: block;
  }
  .caluga {
    margin-bottom: 40px;
  }
  .caluga--1 {
    width: 25%;
  }
  .caluga--2 {
    width: 50%;
  }
  .caluga--2-5 {
    width: calc(75% / 2);
  }
  .caluga--3 {
    width: 75%;
  }

  @media only screen and (max-width: 700px) {
    /*
    .calugas_two_caluga_grande {
      display: none;
    }
    .calugas_two_caluga_grandeM {
      display: block;
      margin-bottom: 35px;
    }
    .calugas_two_doble {
      display: none;
    }
    .calugas_two_dobleM {
      display: block;
      margin-bottom: 35px;
    }
    .caluga {
      float: none;
      display: block;
      width: 100%;
      margin-bottom: 30px;
    }
    */
    .calugas__container {
      flex-wrap: wrap;
      gap: none;
    }
    .caluga {
      width: 100%;
      margin-bottom: 30px;
    }
  }

mixin caluga(item)
  div&attributes(attributes).caluga
    a(href!=item.url value=item.slug)
      .item(
        style="border: 1px solid #ddd; border-bottom: none;"
      )
        if !item.hold
          picture
            if item.mobile
              source(
                @SRCSET@=`@MEDIA_PATH@/Caluga@HOME_DATE@--${item.id }@FILE_TYPE@`
                media="(min-width: 642px)"
              )
              source(
                @SRCSET@=`@MEDIA_PATH@/Caluga@HOME_DATE@--${item.id }M@FILE_TYPE@`

              )
            img(
              @SRC@=`@MEDIA_PATH@/Caluga@HOME_DATE@--${item.id }@FILE_TYPE@`
              alt=item.slug
              title=item.slug
            )
        if item.hold
          picture
            if item.mobile
              source(
                @SRCSET@=`${item.hold.image}`
                media="(min-width: 642px)"
              )
              source(
                @SRCSET@=`${item.hold.imageM}`

              )
            img(
              @SRC@=`${item.hold.image}`
              alt=item.slug
              title=item.slug
            )

mixin huincha(item, mobile = true)
  a(href!=item.url)&attributes(attributes)
    .item(
      style="border: 1px solid #ddd; border-bottom: none;"
    )
    picture
      - if (mobile) {
        source(
          @SRCSET@=`@MEDIA_PATH@/Huincha@HOME_DATE@--${item.id }@FILE_TYPE@`
          media="(min-width: 642px)"
        )
        source(
          @SRCSET@=`@MEDIA_PATH@/Huincha@HOME_DATE@--${item.id }M@FILE_TYPE@`

        )
      - }
      img(
        @SRC@=`@MEDIA_PATH@/Huincha@HOME_DATE@--${item.id }@FILE_TYPE@`
        alt=item.slug
        title=item.slug
      )








.contenido_calugas

  // HUINCHA 1
  .huincha_seguimiento(style="width: 99%; margin: 20px auto; display: inline-block")
    a(
      href="//www.easy.cl/es/cl/easy-chile/tu-dispensador-termos"
      target="_blank"
      value="paga-tu-tarjeta"
    )
      picture
        source(
          srcset="//media.easy.cl/is/image/EasySA/Huincha-Thermos"
          width="100%"
          media="(min-width: 642px)"
        )
        source(
          srcset="//media.easy.cl/is/image/EasySA/Huincha-ThermosM"
          width="100%"
        )
        img(
          src="//media.easy.cl/is/image/EasySA/Huincha-Thermos"
          width="100%"
        )


  // FILA CALUGAS 1
  .section
    .calugas__container

      +caluga({
        id: 1,
        slug: 'Lavadoras y Secadoras',
        url: '/tienda/categoria/especial-aseo-limpieza-lavadoras-secadoras',
        hold: {
          image: '//media.easy.cl/is/image/EasySA/Caluga26042021--1'
        }
      }).caluga--1

      +caluga({
        id: 2,
        slug: 'Aspiradoras',
        url: '/tienda/categoria/especial-aseo-limpieza-aspiradoras',
      }).caluga--1

      +caluga({
        id: 3,
        slug: 'Organización de Loggia',
        url: '/tienda/categoria/especial-aseo-limpieza-organizacion-loggia',
        hold: {
          image: '//media.easy.cl/is/image/EasySA/Caluga26042021--3'
        }
      }).caluga--1

      +caluga({
        id: 4,
        slug: 'Basureros y Contenedores',
        url: '/tienda/categoria/especial-aseo-limpieza-basureros-contenedores',
        hold: {
          image: '//media.easy.cl/is/image/EasySA/Caluga26042021--4'
        }
      }).caluga--1

  // HUINCHA 2
  <div class="huincha_seguimiento" style="width: 99%; margin: 20px auto; display: inline-block">
    <a href="/es/cl/easy-chile/legal-doble-puntos" value="paga-tu-tarjeta" target="_blank">
      <picture>
        <source srcset="//media.easy.cl/is/image/EasySA/HuinchaPuntos_08112020-02" width="100%" media="(min-width: 642px)"/>
        <source srcset="//media.easy.cl/is/image/EasySA/HuinchaPuntos_08112020M-02" width="100%" />
        <img src="//media.easy.cl/is/image/EasySA/HuinchaPuntos_08112020-02" width="100%" alt="" title="" />
      </picture>
    </a>
  </div>

  .section






    .title
      h2 Especial Mascotas

    // FILA CALUGAS 5
    .calugas__container
      +caluga({
        id: 16,
        mobile: true,
        slug: 'especial-mascotas-camas',
        url: '/tienda/categoria/especial-mascotas-camas',
        hold: {
          image: '//media.easy.cl/is/image/EasySA//Caluga03052021--16',
          imageM: '//media.easy.cl/is/image/EasySA//Caluga03052021--16M'
        }                       
      }).caluga--2
      +caluga({
        id: 17,
        mobile: true,
        slug: 'especial-mascotas-casas',
        url: '/tienda/categoria/especial-mascotas-casas',
        hold: {
          image: '//media.easy.cl/is/image/EasySA//Caluga03052021--17',
          imageM: '//media.easy.cl/is/image/EasySA//Caluga03052021--17M'
        }
      }).caluga--2






    .title
      h2 Renueva tus espacios

    // FILA CALUGAS 2
    .calugas__container
      +caluga({
        id: 5,
        mobile: true,
        slug: 'closet',
        url: '/tienda/categoria/closet--1',
      }).caluga--3
      +caluga({
        id: 6,
        mobile: false,
        slug: 'linea-blanca',
        url: '/tienda/categoria/destacado-linea-blanca',
      }, false).caluga--1



    // FILA CALUGAS 3
    .calugas__container
      +caluga({
        id: 7,
        slug: 'electrodomesticos',
        url: '/tienda/categoria/electrodomesticos-electrohogar'
      }, false).caluga--2-5
      +caluga({
        id: 8,
        slug: 'muebles-oficina',
        url: '/tienda/categoria/muebles-de-oficina?cur_page=1&cur_view=grid&bc_links=muebles&bc_names=Mueblesr',
      }, false).caluga--2-5
      +caluga({
        id: 9,
        slug: 'puertas-interior',
        url: '/tienda/categoria/puertas-de-interior',
      }, false).caluga--1

  // HUINCHA 3
  .section
    .calugas__container 
      .caluga.caluga--2
        a(class="calugas-categoria-superior"
          target="_blank"
          value="super-Avance-cencosud"
          href="/es/cl/easy-chile/pide-tu-super-avance-tarjeta-cencosud-scotiabank"
          )
          .item
            picture
              source(media="(min-width: 642px)" srcset="//media.easy.cl/is/image/EasySA/SAE_DESKTOP")
              source(srcset="//media.easy.cl/is/image/EasySA/SAE_mobilehome")
              img(
                src="//media.easy.cl/is/image/EasySA/SAE_DESKTOP"
                alt="super-Avance-cencosud"
                title="super-Avance-cencosud"
                )
      .caluga.caluga--2
        a(class="calugas-categoria-superior"
          target="_blank"
          value="paga-tu-tarjeta"
          href="https://www.mitarjetacencosud.cl/TarjetaMasWEB/iniPagoPublico.do?utm_source=easy_cl&utm_medium=Banner&utm_content=HOME&utm_campaign=Pago+Facil"
          )
          .item
            picture
              source(media="(min-width: 642px)" srcset="//media.easy.cl/is/image/EasySA/Paga-tarjeta")
              source(srcset="//media.easy.cl/is/image/EasySA/Paga-tarjetaM")
              img(
                src="//media.easy.cl/is/image/EasySA/Paga-tarjeta"
                alt="paga-tu-tarjeta"
                title="paga-tu-tarjeta"
                )

  .section
    .title
      h2 Destacados

    // FILA CALUGAS 4
    .calugas__container
      +caluga({
        id: 10,
        slug: 'parrilla-gas',
        url: '/tienda/producto/parrilla-a-gas-2-quemadores-performance-ir300-char-broil-1167471p',
      }, false).caluga--1
      +caluga({
        id: 11,
        slug: 'licuadora',
        url: '/tienda/producto/licuadora-personal-600-ml-expert-nutri-fit-oster-1261070p',
      }, false).caluga--1
      +caluga({
        id: 12,
        slug: 'porcelanato',
        url: '/tienda/producto/porcelanato-60-x-60-cm-sal-sol-palazzo-liso-1-44m2-1130998p',
      }, false).caluga--1
      +caluga({
        id: 13,
        slug: 'neumaticos',
        url: '/tienda/categoria/neumaticos-6',
      }, false).caluga--1

    // FILA CALUGAS 5
    .calugas__container
      +caluga({
        id: 14,
        mobile: true,
        slug: 'iluminacion-interior',
        url: '/tienda/categoria/iluminacion-de-interior',
      }).caluga--2
      +caluga({
        id: 15,
        mobile: true,
        slug: 'proteccion-sanitaria',
        url: '/tienda/categoria/ferreteria-proteccion-sanitaria',
      }).caluga--2
