style.
  /*
  .calugas_two_caluga_grandeM {
    display: none;
  }
  .calugas_two_dobleM {
    display: none;
  }

  .contenido_calugas .section .title {
    font-weight: 300;
  }
  */
  .calugas__container {
    display: flex;
    gap: 10px;
  }
  .caluga img {
    display: block;
  }
  .caluga {
    margin-bottom: 40px;
  }
  .caluga--1 {
    width: 25%;
  }
  .caluga--2 {
    width: 50%;
  }
  .caluga--2-5 {
    width: calc(75% / 2);
  }
  .caluga--3 {
    width: 75%;
  }

  @media only screen and (max-width: 700px) {
    /*
    .calugas_two_caluga_grande {
      display: none;
    }
    .calugas_two_caluga_grandeM {
      display: block;
      margin-bottom: 35px;
    }
    .calugas_two_doble {
      display: none;
    }
    .calugas_two_dobleM {
      display: block;
      margin-bottom: 35px;
    }
    .caluga {
      float: none;
      display: block;
      width: 100%;
      margin-bottom: 30px;
    }
    */
    .calugas__container {
      flex-wrap: wrap;
      gap: none;
    }
    .caluga {
      width: 100%;
      margin-bottom: 30px;
    }
  }

mixin caluga(item)
  div&attributes(attributes).caluga
    a(href!=item.url value=item.slug)
      .item(
        style="border: 1px solid #ddd; border-bottom: none;"
      )
        if !item.hold
          picture
            if item.mobile
              source(
                @SRCSET@=`@MEDIA_PATH@/Caluga@HOME_DATE@--${item.id }@FILE_TYPE@`
                media="(min-width: 642px)"
              )
              source(
                @SRCSET@=`@MEDIA_PATH@/Caluga@HOME_DATE@--${item.id }M@FILE_TYPE@`

              )
            img(
              @SRC@=`@MEDIA_PATH@/Caluga@HOME_DATE@--${item.id }@FILE_TYPE@`
              alt=item.slug
              title=item.slug
            )
        if item.hold
          picture
            if item.mobile
              source(
                @SRCSET@=`${item.hold.image}`
                media="(min-width: 642px)"
              )
              source(
                @SRCSET@=`${item.hold.imageM}`

              )
            img(
              @SRC@=`${item.hold.image}`
              alt=item.slug
              title=item.slug
            )

mixin huincha(item, mobile = true)
  a(href!=item.url)&attributes(attributes)
    .item(
      style="border: 1px solid #ddd; border-bottom: none;"
    )
    picture
      - if (mobile) {
        source(
          @SRCSET@=`@MEDIA_PATH@/Huincha@HOME_DATE@--${item.id }@FILE_TYPE@`
          media="(min-width: 642px)"
        )
        source(
          @SRCSET@=`@MEDIA_PATH@/Huincha@HOME_DATE@--${item.id }M@FILE_TYPE@`

        )
      - }
      img(
        @SRC@=`@MEDIA_PATH@/Huincha@HOME_DATE@--${item.id }@FILE_TYPE@`
        alt=item.slug
        title=item.slug
      )








.contenido_calugas

  // HUINCHA 1
  //- .huincha_seguimiento(style="width: 99%; margin: 20px auto; display: inline-block")
  //-   a(
  //-     href="//www.easy.cl/es/cl/easy-chile/tu-dispensador-termos"
  //-     target="_blank"
  //-     value="paga-tu-tarjeta"
  //-   )
  //-     picture
  //-       source(
  //-         srcset="//media.easy.cl/is/image/EasySA/Huincha-Thermos"
  //-         width="100%"
  //-         media="(min-width: 642px)"
  //-       )
  //-       source(
  //-         srcset="//media.easy.cl/is/image/EasySA/Huincha-ThermosM"
  //-         width="100%"
  //-       )
  //-       img(
  //-         src="//media.easy.cl/is/image/EasySA/Huincha-Thermos"
  //-         width="100%"
  //-       )


  // FILA CALUGAS 1
  .section
    .calugas__container

      +caluga({
        id: 1,
        slug: 'closet',
        url: '/tienda/categoria/closet--1',
      }).caluga--1

      +caluga({
        id: 2,
        slug: 'calefaccion-electrica',
        url: '/tienda/categoria/especial-calefaccion-estufas-electricas',
      }).caluga--1

      +caluga({
        id: 3,
        slug: 'rollers-persianas',
        url: '/tienda/categoria/especial-rollers-y-persianas-8',
      }).caluga--1

      +caluga({
        id: 4,
        slug: 'parrillas-accesorios',
        url: '/tienda/categoria/parrillas-y-accesorios',
      }).caluga--1







  // HUINCHA 2
  <div class="huincha_seguimiento" style="width: 99%; margin: 20px auto; display: inline-block">
    <a href="/es/cl/easy-chile/legal-doble-puntos" value="paga-tu-tarjeta" target="_blank">
      <picture>
        <source srcset="//media.easy.cl/is/image/EasySA/HuinchaPuntos_08112020-02" width="100%" media="(min-width: 642px)"/>
        <source srcset="//media.easy.cl/is/image/EasySA/HuinchaPuntos_08112020M-02" width="100%" />
        <img src="//media.easy.cl/is/image/EasySA/HuinchaPuntos_08112020-02" width="100%" alt="" title="" />
      </picture>
    </a>
  </div>





  .section


    //- .title
    //-   h2 Especial Calefacción








    .title
      h2 Renueva tus espacios




    // FILA CALUGAS 2
    .calugas__container
      +caluga({
        id: 5,
        mobile: true,
        slug: 'camas-colchones',
        url: '/tienda/categoria/camas-y-colchones-8',
      }).caluga--3
      +caluga({
        id: 6,
        mobile: false,
        slug: 'puertas-exterior',
        url: '/tienda/categoria/puertas-de-exterior-0',
      }, false).caluga--1






    // FILA CALUGAS 3
    .calugas__container
      +caluga({
        id: 7,
        slug: 'purificador-agua',
        url: '/tienda/categoria/Filtros-de-agua'
      }, false).caluga--2-5
      +caluga({
        id: 8,
        slug: 'plantas-flores-artificiales',
        url: '/tienda/categoria/plantas-y-flores-atificiales',
      }, false).caluga--2-5
      +caluga({
        id: 9,
        slug: 'electrodomesticos',
        url: '/tienda/categoria/electrodomesticos-electrohogar',
      }, false).caluga--1





      

  // HUINCHA 3
  .section
    .calugas__container 
      .caluga.caluga--2
        a(class="calugas-categoria-superior"
          target="_blank"
          value="super-Avance-cencosud"
          href="/es/cl/easy-chile/pide-tu-super-avance-tarjeta-cencosud-scotiabank"
          )
          .item
            picture
              source(media="(min-width: 642px)" srcset="//media.easy.cl/is/image/EasySA/SAE_DESKTOP")
              source(srcset="//media.easy.cl/is/image/EasySA/SAE_mobilehome")
              img(
                src="//media.easy.cl/is/image/EasySA/SAE_DESKTOP"
                alt="super-Avance-cencosud"
                title="super-Avance-cencosud"
                )
      .caluga.caluga--2
        a(class="calugas-categoria-superior"
          target="_blank"
          value="paga-tu-tarjeta"
          href="https://www.mitarjetacencosud.cl/TarjetaMasWEB/iniPagoPublico.do?utm_source=easy_cl&utm_medium=Banner&utm_content=HOME&utm_campaign=Pago+Facil"
          )
          .item
            picture
              source(media="(min-width: 642px)" srcset="//media.easy.cl/is/image/EasySA/Paga-tarjeta")
              source(srcset="//media.easy.cl/is/image/EasySA/Paga-tarjetaM")
              img(
                src="//media.easy.cl/is/image/EasySA/Paga-tarjeta"
                alt="paga-tu-tarjeta"
                title="paga-tu-tarjeta"
                )






  .section
    .title
      h2 Destacados





    // FILA CALUGAS 4
    .calugas__container
      +caluga({
        id: 10,
        slug: 'kit-cocina',
        url: '/tienda/producto/1306963p',
      }, false).caluga--1
      +caluga({
        id: 11,
        slug: 'rack-tv',
        url: '/tienda/producto/1292818p',
      }, false).caluga--1
      +caluga({
        id: 12,
        slug: 'licuadora-personal',
        url: '/tienda/producto/licuadora-personal-600-ml-expert-nutri-fit-oster-1261070p',
      }, false).caluga--1
      +caluga({
        id: 13,
        slug: 'sierra-banco',
        url: '/tienda/producto/sierra-de-banco-101800-w-tc-ts-254-eco-1311879p',
      }, false).caluga--1







    // FILA CALUGAS 5
    .calugas__container
      +caluga({
        id: 14,
        mobile: true,
        slug: 'esmalte-agua',
        url: '/tienda/categoria/esmalte-agua',
      }).caluga--2
      +caluga({
        id: 15,
        mobile: true,
        slug: 'cabinas-duchas',
        url: '/tienda/categoria/cabinas-duchas',
      }).caluga--2
