style.
  /*
  .calugas_two_caluga_grandeM {
    display: none;
  }
  .calugas_two_dobleM {
    display: none;
  }

  .contenido_calugas .section .title {
    font-weight: 300;
  }
  */
  .calugas__container {
    display: flex;
    gap: 10px;
  }
  .caluga img {
    display: block;
  }
  .caluga {
    margin-bottom: 40px;
  }
  .caluga--1 {
    width: 25%;
  }
  .caluga--2 {
    width: 50%;
  }
  .caluga--2-5 {
    width: calc(75% / 2);
  }
  .caluga--3 {
    width: 75%;
  }

  @media only screen and (max-width: 700px) {
    /*
    .calugas_two_caluga_grande {
      display: none;
    }
    .calugas_two_caluga_grandeM {
      display: block;
      margin-bottom: 35px;
    }
    .calugas_two_doble {
      display: none;
    }
    .calugas_two_dobleM {
      display: block;
      margin-bottom: 35px;
    }
    .caluga {
      float: none;
      display: block;
      width: 100%;
      margin-bottom: 30px;
    }
    */
    .calugas__container {
      flex-wrap: wrap;
      gap: none;
    }
    .caluga {
      width: 100%;
      margin-bottom: 30px;
    }
  }

mixin caluga(item)
  div&attributes(attributes).caluga
    a(href!=item.url value=item.slug)
      .item(
        style="border: 1px solid #ddd; border-bottom: none;"
      )
        if !item.hold
          picture
            if item.mobile
              source(
                @SRCSET@=`@MEDIA_PATH@/Caluga@HOME_DATE@--${item.id }@FILE_TYPE@`
                media="(min-width: 642px)"
              )
              source(
                @SRCSET@=`@MEDIA_PATH@/Caluga@HOME_DATE@--${item.id }M@FILE_TYPE@`

              )
            img(
              @SRC@=`@MEDIA_PATH@/Caluga@HOME_DATE@--${item.id }@FILE_TYPE@`
              alt=item.slug
              title=item.slug
            )
        if item.hold
          picture
            if item.mobile
              source(
                @SRCSET@=`${item.hold.image}`
                media="(min-width: 642px)"
              )
              source(
                @SRCSET@=`${item.hold.imageM}`

              )
            img(
              @SRC@=`${item.hold.image}`
              alt=item.slug
              title=item.slug
            )

mixin huincha(item, mobile = true)
  a(href!=item.url)&attributes(attributes)
    .item(
      style="border: 1px solid #ddd; border-bottom: none;"
    )
    picture
      - if (mobile) {
        source(
          @SRCSET@=`@MEDIA_PATH@/Huincha@HOME_DATE@--${item.id }@FILE_TYPE@`
          media="(min-width: 642px)"
        )
        source(
          @SRCSET@=`@MEDIA_PATH@/Huincha@HOME_DATE@--${item.id }M@FILE_TYPE@`

        )
      - }
      img(
        @SRC@=`@MEDIA_PATH@/Huincha@HOME_DATE@--${item.id }@FILE_TYPE@`
        alt=item.slug
        title=item.slug
      )








.contenido_calugas

  // HUINCHA 1
  .huincha_seguimiento(style="width: 99%; margin: 20px auto; display: inline-block")
    a(
      href="//www.easy.cl/es/cl/easy-chile/tu-dispensador-termos"
      target="_blank"
      value="paga-tu-tarjeta"
    )
      picture
        source(
          srcset="//media.easy.cl/is/image/EasySA/Huincha-Thermos"
          width="100%"
          media="(min-width: 642px)"
        )
        source(
          srcset="//media.easy.cl/is/image/EasySA/Huincha-ThermosM"
          width="100%"
        )
        img(
          src="//media.easy.cl/is/image/EasySA/Huincha-Thermos"
          width="100%"
        )


  // FILA CALUGAS 1
  .section
    .calugas__container

      +caluga({
        id: 1,
        slug: 'lavamanos-vanitorios',
        url: '/tienda/categoria/especial-bano-lavamanos-vanitorios',
        hold: {
          image: '//media.easy.cl/is/image/EasySA/Caluga16042021--1'
        }
      }).caluga--1

      +caluga({
        id: 2,
        slug: 'wc-sanitarios',
        url: '/tienda/categoria/especial-bano-wc-sanitarios',
        hold: {
          image: '//media.easy.cl/is/image/EasySA/Caluga16042021--2'
        }
      }).caluga--1

      +caluga({
        id: 3,
        slug: 'limpieza',
        url: '/tienda/categoria/especial-bano-limpieza',
        hold: {
          image: '//media.easy.cl/is/image/EasySA/Caluga16042021--3'
        }
      }).caluga--1

      +caluga({
        id: 4,
        slug: 'textil-bano',
        url: '/tienda/categoria/especial-bano-textil',
        hold: {
          image: '//media.easy.cl/is/image/EasySA/Caluga16042021--4'
        }
      }).caluga--1

  // HUINCHA 2
  <div class="huincha_seguimiento" style="width: 99%; margin: 20px auto; display: inline-block">
    <a href="/es/cl/easy-chile/legal-doble-puntos" value="paga-tu-tarjeta" target="_blank">
      <picture>
        <source srcset="//media.easy.cl/is/image/EasySA/HuinchaPuntos_08112020-02" width="100%" media="(min-width: 642px)"/>
        <source srcset="//media.easy.cl/is/image/EasySA/HuinchaPuntos_08112020M-02" width="100%" />
        <img src="//media.easy.cl/is/image/EasySA/HuinchaPuntos_08112020-02" width="100%" alt="" title="" />
      </picture>
    </a>
  </div>

  .section
    .title
      h2 Renueva tus espacios

    // FILA CALUGAS 2
    .calugas__container
      +caluga({
        id: 5,
        mobile: true,
        slug: 'camas-colchon',
        url: '/tienda/categoria/camas-y-colchones-8',
      }).caluga--3
      +caluga({
        id: 6,
        mobile: false,
        slug: 'Calefaccion',
        url: '/tienda/categoria/calefaccion-electrohogar',
      }, false).caluga--1

    // FILA CALUGAS 3
    .calugas__container
      +caluga({
        id: 7,
        slug: 'baterias-automovil',
        url: '/tienda/categoria/baterias-autos'
      }, false).caluga--2-5
      +caluga({
        id: 8,
        slug: 'closet',
        url: '/tienda/categoria/closet--1?bc_names=Muebles|Muebles%20de%20Dormitorio&bc_links=muebles|muebles-de-dormitorio-',
      }, false).caluga--2-5
      +caluga({
        id: 9,
        slug: 'ventanas-termopanel',
        url: '/tienda/categoria/ventanas-termopanel-',
      }, false).caluga--1

  // HUINCHA 3
  .section
    .calugas__container 
      .caluga.caluga--2
        a(class="calugas-categoria-superior"
          target="_blank"
          value="super-Avance-cencosud"
          href="/es/cl/easy-chile/pide-tu-super-avance-tarjeta-cencosud-scotiabank"
          )
          .item
            picture
              source(media="(min-width: 642px)" srcset="//media.easy.cl/is/image/EasySA/SAE_DESKTOP")
              source(srcset="//media.easy.cl/is/image/EasySA/SAE_mobilehome")
              img(
                src="//media.easy.cl/is/image/EasySA/SAE_DESKTOP"
                alt="super-Avance-cencosud"
                title="super-Avance-cencosud"
                )
      .caluga.caluga--2
        a(class="calugas-categoria-superior"
          target="_blank"
          value="paga-tu-tarjeta"
          href="https://www.mitarjetacencosud.cl/TarjetaMasWEB/iniPagoPublico.do?utm_source=easy_cl&utm_medium=Banner&utm_content=HOME&utm_campaign=Pago+Facil"
          )
          .item
            picture
              source(media="(min-width: 642px)" srcset="//media.easy.cl/is/image/EasySA/Paga-tarjeta")
              source(srcset="//media.easy.cl/is/image/EasySA/Paga-tarjetaM")
              img(
                src="//media.easy.cl/is/image/EasySA/Paga-tarjeta"
                alt="paga-tu-tarjeta"
                title="paga-tu-tarjeta"
                )

  .section
    .title
      h2 Destacados

    // FILA CALUGAS 4
    .calugas__container
      +caluga({
        id: 10,
        slug: 'maquinaria-jardin',
        url: '/tienda/categoria/herramientas-de-jardin',
      }, false).caluga--1
      +caluga({
        id: 11,
        slug: 'ceramica',
        url: '/tienda/producto/ceramica-marmoleada-30-x-20-cm-1-50-m-2-victoria-baldara-821270p',
      }, false).caluga--1
      +caluga({
        id: 12,
        slug: 'calefont',
        url: '/tienda/producto/calefont-mademsa-essential-10-eco-gl-1293112p',
      }, false).caluga--1
      +caluga({
        id: 13,
        slug: 'alargadores-extensiones',
        url: '/tienda/categoria/extensiones-y-alargadores',
      }, false).caluga--1

    // FILA CALUGAS 5
    .calugas__container
      +caluga({
        id: 14,
        mobile: true,
        slug: 'iluminacion-interior',
        url: '/tienda/categoria/iluminacion-de-interior?cur_page=1&cur_view=grid&bc_links=decoracion-iluminacion|iluminacion&bc_names=Decoraci%C3%B3n+e+Iluminaci%C3%B3n|Iluminaci%C3%B3n',
      }).caluga--2
      +caluga({
        id: 15,
        mobile: true,
        slug: 'bodegas-gabinetes',
        url: '/tienda/categoria/bodegas-gabinetes',
      }).caluga--2
