//! SLIDER

mixin sliderItem(slide, key)
  div(data-banner-duration="5s")
    a(href!=`@STAGE_URL@${slide.url}` target=`${slide.target || '_self'}` class=`${slide.id ? `slider-slide-${slide.id}`: ''}` value=slide.slug)
      picture 
        if !slide.hold
          source(@SRCSET@=`@MEDIA_PATH@Banner@HOME_DATE@--${slide.id}@FILE_TYPE@` media="(min-width: 642px)")
          source(@SRCSET@=`@MEDIA_PATH@Banner@HOME_DATE@--${slide.id}M@FILE_TYPE@`)
          img(@SRC@=`@MEDIA_PATH@/Banner@HOME_DATE@--${slide.id}@FILE_TYPE@` alt=slide.slug title=slide.slug)
        if slide.hold
          source(@SRCSET@=`${slide.hold.image}` media="(min-width: 642px)")
          source(@SRCSET@=`${slide.hold.imageM}`)
          img(@SRC@=`${slide.hold.image}` alt=slide.slug title=slide.slug)

-
  const slider = [
     {
      id: 1,
      name: 'Dias hogar',
      slug: 'dias-hogar',
      url: '/tienda/categoria/dias-hogar',
    },
    {
      id: 2,
      name: 'Ventilacion',
      slug: 'ventilacion',
      url: '/tienda/categoria/especial-ventilacion',
      //- hold: {
      //-   image: 'https://media.easy.cl/is/image/EasySA/Banner02092021--1',
      //-   imageM: 'https://media.easy.cl/is/image/EasySA/Banner02092021--1M'
      //- }
    },
    {
      id: 3,
      name: 'Closet',
      slug: 'closet-comodas',
      url: '/tienda/categoria/dias-hogar-closet-comodas',
    },
    {
      id: 4,
      name: 'Mueble de terraza',
      slug: 'mueble-de-terraza',
      url: '/tienda/categoria/mueble-de-terraza',
    },
    {
      id: 5,
      name: 'Terminaciones construccion',
      slug: 'terminaciones-construccion',
      url: '/tienda/categoria/dias-hogar-terminaciones-construccion'
    },
    {
      id: 6,
      name: 'Rollers persianas',
      slug: 'rollers-persianas',
      url: '/tienda/categoria/dias-hogar-rollers-persianas'
    },
    {
      id: 7,
      name: 'Herramientas',
      slug: 'herramientas',
      url: '/tienda/categoria/dias-hogar-herramientas'
    },
    {
      id: 8,
      name: 'Especial Samsung',
      slug: 'especial-samsung',
      url: '/tienda/categoria/especial-samsung-1'
    },
  ]

.slider
  each slide in slider
    +sliderItem(slide)
    //- <div data-banner-duration="5s">
    //-   <div
    //-     style=" border: 3px dotted red; color: white; font-size: 20px; font-weight: 600; position:absolute; z-index:2; top: 40px; margin:0px auto 0px 40px; padding: 20px;"
    //-   >
    //-     <a href="#" style="color: #FFF;" tabindex="0"
    //-       >Especial de Navidad</a
    //-     >
    //-   </div>
    //-   <picture>
    //-     <source
    //-       srcset="//media.easy.cl/is/image/EasySA/Banner23102019-01"
    //-       media="(min-width: 642px)"
    //-     />
    //-     <source
    //-       srcset="//media.easy.cl/is/image/EasySA/Banner23102019-01M"
    //-     />
    //-     <img
    //-       src="//media.easy.cl/is/image/EasySA/Banner23102019-01"
    //-       alt="especial-terrazas"
    //-       title="especial-terrazas"
    //-     />
    //-   </picture>
    //- </div>


.slider-nav-text
  each slide in slider
    .slide-text
      span=slide.name
//! SLIDER