//! SLIDER

mixin sliderItem(slide, key)
  .slider__item(data-banner-duration="5s")
    a(href=slide.url target="_self" class=`${slide.id ? `slider-slide-${slide.id}`: ''}` value=slide.slug)
      picture 
        if !slide.hold
          source(@SRCSET@=`@MEDIA_PATH@Banner@HOME_DATE@--${slide.id}@FILE_TYPE@` media="(min-width: 642px)")
          source(@SRCSET@=`@MEDIA_PATH@Banner@HOME_DATE@--${slide.id}M@FILE_TYPE@`)
          img(@SRC@=`@MEDIA_PATH@/Banner@HOME_DATE@--${slide.id}@FILE_TYPE@` alt=slide.slug title=slide.slug)
        if slide.hold
          source(@SRCSET@=`${slide.hold.image}` media="(min-width: 642px)")
          source(@SRCSET@=`${slide.hold.imageM}`)
          img(@SRC@=`${slide.hold.image}` alt=slide.slug title=slide.slug)

-
  const slider = [
    {
      id: 1,
      name: 'Especial Baño',
      slug: 'especial-bano',
      url: '/tienda/categoria/especial-bano',
      hold: {
        image: '//media.easy.cl/is/image/EasySA/Banner16042021--1',
        imageM: '//media.easy.cl/is/image/EasySA/Banner16042021--1M'
      }
    },
    {
      id: 2,
      name: 'Comedores',
      slug: 'comedores',
      url: '/tienda/categoria/comedores-5',
    },
    {
      id: 3,
      name: 'Bacán tu casa Samsung',
      slug: 'bacan-casa-samsung',
      url: '/tienda/categoria/especial-samsung-1',
    },
    {
      id: 4,
      name: 'Cerámicas',
      slug: 'ceramicas',
      url: '/tienda/categoria/ceramicas',
    },
    {
      id: 5,
      name: 'Maquinaria de Jardín',
      slug: 'maquinaria-jardin',
      url: '/tienda/categoria/herramientas-de-jardin',
    },
    {
      id: 6,
      name: 'Herramientas',
      slug: 'herramientas',
      url: '/tienda/categoria/herramientas',
    },
  ]

.slider
  each slide in slider
    +sliderItem(slide)
    //- <div data-banner-duration="5s">
    //-   <div
    //-     style=" border: 3px dotted red; color: white; font-size: 20px; font-weight: 600; position:absolute; z-index:2; top: 40px; margin:0px auto 0px 40px; padding: 20px;"
    //-   >
    //-     <a href="#" style="color: #FFF;" tabindex="0"
    //-       >Especial de Navidad</a
    //-     >
    //-   </div>
    //-   <picture>
    //-     <source
    //-       srcset="//media.easy.cl/is/image/EasySA/Banner23102019-01"
    //-       media="(min-width: 642px)"
    //-     />
    //-     <source
    //-       srcset="//media.easy.cl/is/image/EasySA/Banner23102019-01M"
    //-     />
    //-     <img
    //-       src="//media.easy.cl/is/image/EasySA/Banner23102019-01"
    //-       alt="especial-terrazas"
    //-       title="especial-terrazas"
    //-     />
    //-   </picture>
    //- </div>


.slider-nav-text
  each slide in slider
    .slide-text
      span=slide.name
//! SLIDER