//! SLIDER

mixin sliderItem(slide, key)
  .slider__item(data-banner-duration="5s")
    a(href=slide.url target="_self" class=`${slide.id ? `slider-slide-${slide.id}`: ''}` value=slide.slug)
      picture 
        if !slide.hold
          source(@SRCSET@=`@MEDIA_PATH@Banner@HOME_DATE@--${slide.id}@FILE_TYPE@` media="(min-width: 642px)")
          source(@SRCSET@=`@MEDIA_PATH@Banner@HOME_DATE@--${slide.id}M@FILE_TYPE@`)
          img(@SRC@=`@MEDIA_PATH@/Banner@HOME_DATE@--${slide.id}@FILE_TYPE@` alt=slide.slug title=slide.slug)
        if slide.hold
          source(@SRCSET@=`${slide.hold.image}` media="(min-width: 642px)")
          source(@SRCSET@=`${slide.hold.imageM}`)
          img(@SRC@=`${slide.hold.image}` alt=slide.slug title=slide.slug)

-
  const slider = [
    {
      id: 1,
      name: 'Adelanto Calefacción',
      slug: 'adelanto-calefaccion',
      url: '/tienda/categoria/especial-calefaccion',
      hold : {
        image: '//media.easy.cl/is/image/EasySA/Banner29042021-03',
        imageM: '://media.easy.cl/is/image/EasySA/Banner29042021-03M'
      }
    },
    {
      id: 2,
      name: 'Especial Aseo & Limpieza',
      slug: 'especial-aseo-limpieza',
      url: '/tienda/categoria/especial-aseo-limpieza',
      hold: {
        image: '//media.easy.cl/is/image/EasySA/Banner30042021--1',
        imageM: '//media.easy.cl/is/image/EasySA/Banner30042021--1M'
      }
    },
    {
      id: 2,
      name: 'Especial Mascotas',
      slug: 'especial-mascotas',
      url: '/tienda/categoria/especial-mascotas',
      hold: {
        image: '//media.easy.cl/is/image/EasySA/Banner30042021--2',
        imageM: '//media.easy.cl/is/image/EasySA/Banner30042021--2M'
      }
    },
    {
      id: 3,
      name: 'Especial Rosen',
      slug: 'especial-rosen',
      url: '/tienda/categoria/especial-rosen',
    },
    {
      id: 4,
      name: 'Especial Midea',
      slug: 'especiañ-midea',
      url: '/tienda/categoria/especial-midea-1?cur_page=1&cur_view=grid',
      hold: {
        image: '//media.easy.cl/is/image/EasySA/Banner06052021-04',
        imageM: '//media.easy.cl/is/image/EasySA/Banner06052021-04M'
      }
    },
    {
      id: 5,
      name: 'Pisos Flotantes',
      slug: 'pisos-flotantes',
      url: '/tienda/categoria/pisos-flotantes',
    },
    {
      id: 6,
      name: 'Especial 3M',
      slug: 'especial-3m',
      url: '/tienda/categoria/especial-3m',
      hold: {
        image: '//media.easy.cl/is/image/EasySA/Banner03052021--6',
        imageM: '//media.easy.cl/is/image/EasySA/Banner03052021--6M'
      }
    },
  ]

.slider
  each slide in slider
    +sliderItem(slide)
    //- <div data-banner-duration="5s">
    //-   <div
    //-     style=" border: 3px dotted red; color: white; font-size: 20px; font-weight: 600; position:absolute; z-index:2; top: 40px; margin:0px auto 0px 40px; padding: 20px;"
    //-   >
    //-     <a href="#" style="color: #FFF;" tabindex="0"
    //-       >Especial de Navidad</a
    //-     >
    //-   </div>
    //-   <picture>
    //-     <source
    //-       srcset="//media.easy.cl/is/image/EasySA/Banner23102019-01"
    //-       media="(min-width: 642px)"
    //-     />
    //-     <source
    //-       srcset="//media.easy.cl/is/image/EasySA/Banner23102019-01M"
    //-     />
    //-     <img
    //-       src="//media.easy.cl/is/image/EasySA/Banner23102019-01"
    //-       alt="especial-terrazas"
    //-       title="especial-terrazas"
    //-     />
    //-   </picture>
    //- </div>


.slider-nav-text
  each slide in slider
    .slide-text
      span=slide.name
//! SLIDER